<div>

    <h2>Products</h2>

    <a href="#/product/create-product" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-flash"></span> Create a new Product
    </a>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Manufacturer</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Wiki</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.manufacturer.name}}</td>
                    <td>{{product.category.name}}</td>
                    <td>{{product.image}}</td>
                    <td>{{product.wiki}}</td>
                    <td>{{product.tags}}</td>
                    <td>
                        <a href="#/product/create-product/{{product.id}}" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a>
                        <button type="submit"
                        ng-click="delete(product.id)"
                        class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
